body{
    background-color: #111111;
}
div.Main{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

div.Main div{
    display: flex;
    flex-direction: row;
    /*flex-direction: column;*/
    justify-content: center;

}

img.Teacher_Image{
    height: auto;
    min-width: 250px;
    max-width: 20vw;
    border-radius: 10%;
    box-shadow: 0 0 1rem black;
}

/*div.Main div.Image_Controls{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

div.Main div button {
    /*background: #111111;*/
    background: none;
    align-self: center;
    border-style: none;
    height: 2rem;
    color: darkslateblue;
    font-size: 30px;
    text-shadow: 0 0 0.3rem darkslateblue;
}


div.Main h1{
    text-align: center;
    color: #F9F6EE;
}

/*div.Rating_Controls h1{*/
/*    margin: 0.2rem;*/
/*}*/

div.Rating_Controls input{
    display: none;
}

div.Rating_Controls label.Star_Label {
    opacity: 0.1;
}

div.Rating_Controls img{
    height: auto;
    max-width: 36px;
    margin: 0.2rem;
}

div.Rating_Controls input:checked + label {
    opacity: 1;
}















